body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#03001C ; 
}
.profile-card {
  width: 300px;
  background-color: #301E67;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(87, 166, 197, 0.1);
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 30%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;

}

.profile-card p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.profile-card a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: -9999px;
}
a.link1{
  background-image: url(github-sign.png);
}

a.link2{
  background-image: url(instagram.png);
}

a.link3{
  background-image: url(facebook.png);
}

a.link4 {
  background-image: url(linkedin.png);
}